PORT=8004
NODE_ENV=development
DISABLE_AUTH=false
DEV_USER_ROLE=admin

# Conexão com DB (mesmo banco do Hub)
DB_HOST=host.docker.internal
DB_PORT=3306
DB_USER=usuario
DB_PASSWORD=senha
DB_NAME=dbBanco

# Auth SSO (deve ser exatamente igual ao do Hub)
JWT_SECRET=sid-drogamais-jwt-secret-2026-secure-sso
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
COOKIE_SECRET=my-sid-secret

# URL do Hub
HUB_BASE_URL=http://localhost:8003
HUB_LOGIN_URL=${HUB_BASE_URL}/login
HUB_REFRESH_URL=${HUB_BASE_URL}/api/auth/refresh
HUB_LOGOUT_URL=${HUB_BASE_URL}/api/auth/logout
HUB_INTERNAL_URL=http://hub:8003

